<template name="threads">

    <header>
        <button class="back"><i class="fa fa-arrow-left"></i></button>
        <button id="all-calls" class="_active">все</button>
        <button id="new-calls">неотв.<span>2</span></button>
    </header>

    <div class="body">
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-recording">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item _unwatched">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-answer">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-listening">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-listening">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _recording">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _listening">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-answer">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="top"><div></div><p>сегодня в 13:32</p></div>
            <div>
                <div><img src="/img/avatar.png" alt="avatar"/></div>
                <div>
                    <p class="name">Альберт</p>
                    <p class="last-name">Кайгородов</p>
                    <p class="username">@albert_kai</p>
                    <div class="status _waiting-for-answer">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                        <div>
                            <i class="fa fa-send"></i>
                        </div>
                        <div>
                            <i class="fa fa-circle"></i>rec
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>