<template name="userInfo">

    <div class="close-modal"><i class="fa fa-times"></i></div>

    <h3>@albertkai</h3>

    <img src="/img/avatar.png" alt=""/>

    <p class="first-name">Альберт</p>
    <p class="last-name">Кайгородов</p>
    <p class="phone">+79052088999</p>

    <div class="facebook"><i class="fa fa-facebook"></i></div>

    <div class="controls">
        <div>
            <button><i class="fa fa-ban"></i><br/><span>забанить</span></button>
            <!--<button><i class="fa fa-ban"></i><br/><span>убрать </span></button>-->
        </div>
        <div>
            <button><i class="fa fa-plus"></i><br/><span>в друзья</span></button>
            <div class="ovrl">
                <i class="fa fa-plus"></i>
                <p>в контактах</p>
            </div>
        </div>

    </div>

</template>